anyio
appnope
asttokens
backcall
cffi
click
colorama
comm
contourpy
cycler
debugpy
decorator
entrypoints
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
matplotlib-inline
matplotlib
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
py
pycparser
pydantic
pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn==1.1.3
scipy
setuptools-scm
six
sniffio
stack-data
starlette
threadpoolctl
tomli
tornado
traitlets
typing-extensions
uvicorn
wcwidth
